<%
  var ads = [
    {
      href: 'http://www.jiankongbao.com/',
      label: 'jiankongbao',
      img_src: '//dn-cnode.qbox.me/Foj5yawxK4wZXxTLF7DJYJxYIQS7',
    },
    {
      href: 'https://coding.net/',
      label: 'coding-net',
      img_src: '//dn-cnode.qbox.me/FiRLl_ZwNvtN49pNhwQx4VHNgCdY',
    },
    /*
    20150526过期不更新
    {
      href: 'https://campaign.gitcafe.com/leapmotion2015',
      label: 'gitcafe',
      img_src: '//dn-cnode.qbox.me/FvU2wKg1Hk4mGMjAxmxu9woYnpdz',
    },
    竟然是个需要登录的网址
    {
      href: 'https://portal.qiniu.com/hb/?utm_campaign=hb&utm_source=cnode&utm_medium=advposition&utm_content=png',
      label: 'qiniu-event',
      img_src: '//dn-cnode.qbox.me/FqFdDaC0q3T2EckLEgU9PANuwj9J',
    },
    */
    {
      href: 'https://talk.ai/?s=cnodejs',
      label: 'teambition',
      img_src: '//dn-cnode.qbox.me/FsJ2QW9zAHLvrPgC767PvuMWBkRQ',
    },
    {
      href: 'http://www.xiaoyun.com/',
      label: 'xiaoyun',
      img_src: '//dn-cnode.qbox.me/FkH26N-_pH6PDL8AoKWSlv5EBI74',
    },
    {
      href: 'http://www.gotokeep.com/cnode',
      label: 'keep',
      img_src: '//dn-cnode.qbox.me/Fv-F0N-U-pYavOkrzwdZT_ztEMG4',
    },
    {
      href: 'https://www.jpush.cn/',
      label: 'jpush',
      img_src: '//dn-cnode.qbox.me/Fs1u7ZDbMOnRiHDeVYCAYx0gnCGQ',
    },
  ];

    var randomNum = (new Date()).getHours() % ads.length;

    ads = ads.slice(randomNum).concat(ads.slice(0, randomNum));
%>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep10"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>">
      </a>
    <% }) %>
  </div>
</div>
